html
  head
    title= title
  body
    h1 改错纸
    h3 姓名: 林梓欣 时间:#{now} 
    div
      each value in practise
        p
          pre(style="white-space: pre-wrap;") #{value['subject']}(#{value['id']}): #{value['description']}
        br